<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/webjars/weui/1.1.2/dist/style/weui.min.css" />
    <link rel="stylesheet" href="/webjars/bootstrap-select/1.13.17/css/bootstrap-select.min.css" />
</head>
<style type="text/css">

</style>
<body>

    <form class="form-inline" id="resource-form">
        <div class="col-md-12" >
            <div class="form-group">
                <label class="form-lable">店铺代码</label>
                <input type='text' class="form-control" id='shopCode' />
            </div>

            <a class="btn btn-info  glyphicon glyphicon-search form-search" id="searchBtn" >搜索</a>
<!--            <a class="btn btn-primary " id="exportBtn" >导出exel</a>-->
        </div>
    </form>

    <table id="table" class="modal-body" > </table>
    <div id="datagrid" >
        <button type="button" class="btn btn-success" id="add">新增</button>
        <button type="button" class="btn btn-danger" id="remove">删除</button>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">店铺信息</h4>
                </div>
                <form class="form-horizontal" id="form" role="form" >
                    <div class="modal-body">
                        <input type="hidden" id="id" name="id" >
                        <div class="form-group">
                            <label for="khdm" class="col-sm-2 control-label">店铺代码</label>
                            <div class="col-sm-10">
                                <input type="text"  class="form-control" id="khdm" name="khdm" required >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="khmc" class="col-sm-2 control-label">店铺名称</label>
                            <div class="col-sm-10">
                                <input type="text"  class="form-control" id="khmc" name="khmc" required >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date" class="col-sm-2 control-label">结余日期</label>
                            <div class="col-sm-10">
                                <input type="text"  class="form-control" id="date" name="date" required >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">店铺类型</label>
                            <div class="col-sm-10">
                                <input type="text"  class="form-control" id="type" name="type" required >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="balance" class="col-sm-2 control-label">结余</label>
                            <div class="col-sm-10">
                                <input type="number" min="-100000.00" max="100000.00" step="0.01" class="form-control" id="balance" name="balance" required >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="deptCode" class="col-sm-2 control-label">部门代码</label>
                            <div class="col-sm-10">
                                <input type="number" step="1" class="form-control" id="deptCode" name="deptCode" required >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="czdzCode" class="col-sm-2 control-label">充值到账科目编码</label>
                            <div class="col-sm-10">
                                <input type="number" step="1" class="form-control" id="czdzCode" name="czdzCode" required >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="czwdzCode" class="col-sm-2 control-label">充值未到账科目编码</label>
                            <div class="col-sm-10">
                                <input type="number" step="1" class="form-control" id="czwdzCode" name="czwdzCode" required >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="shdzCode" class="col-sm-2 control-label">私户到账科目编码</label>
                            <div class="col-sm-10">
                                <input type="number" step="1" class="form-control" id="shdzCode" name="shdzCode" required >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="shwdzCode" class="col-sm-2 control-label">私户未到账科目编码</label>
                            <div class="col-sm-10">
                                <input type="number" step="1" class="form-control" id="shwdzCode" name="shwdzCode" required >
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" id="save" class="btn btn-primary">提交更改</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


    <div class="page__bd">
        <div class="weui-gallery" id="gallery">
            <span class="weui-gallery__img" id="galleryImg" style="background-image:url(#url#)"></span>

        </div>
    </div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/webjars/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="/webjars/momentjs/2.24.0/min/moment-with-locales.min.js"></script>
<script src="/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
<script src="/webjars/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="/webjars/bootstrap-select/1.13.17/js/bootstrap-select.min.js"></script>
<script src="/webjars/bootstrap-select/1.13.17/js/i18n/defaults-zh_CN.min.js"></script>
</body>
<script th:inline="javascript">

    $(function () {

        $('#add').click(function () {
            if($('#id').val().length > 0) {
                $('#form').resetForm();
                $('#id').val('');
            }

            $('#myModal').modal('show');
        });

        $('#searchBtn').click(function () {
            if($('#resource-form')[0].reportValidity()) {
                var shopCodes = $('#shopCodes').val();
                $('#table').bootstrapTable('refresh');
            }
        });

        $('#exportBtn').click(function () {
            if($('#resource-form')[0].reportValidity()) {
                bootbox.confirm("确认导出？",
                    function (result) {
                        if (result) {
                            var jobNum = $('#jobNum').val();
                            var shopCodes = $('#shopCodes').val();
                            // console.log($('#shopCodes').val());
                            var begin = $('#begin').val();
                            var end = $('#end').val();
                            var depositBegin = $('#deposit-begin').val();
                            var depositEnd = $('#deposit-end').val();
                            window.location.href = "/daily-deposit/export?jobNum=" + jobNum + "&shopCodes=" + shopCodes
                                + "&begin=" + begin + "&end=" + end + "&depositBegin=" + depositBegin
                                + "&depositEnd=" + depositEnd;
                        }
                    });
            }

        });

        $('#save').click(function() {
            if($('#form')[0].reportValidity()) {
                $.ajax({
                    type: "post",
                    url: "/cash-balance/save",
                    data: $('#form').serialize(),
                    success: function(result){
                        if(result) {
                            $('#myModal').modal('hide');
                            $('#table').bootstrapTable('refresh');
                        } else {
                            alert("数据库返回失败！");
                        }

                    },
                    error:function(xhr,state,errorThrown){
                        alert("操作失败，请确认数据是否正确后重新尝试！");
                    }
                });
            }
        });

        $('#remove').click(function () {
            if($('#table').bootstrapTable('getSelections').length == 0) {
                return;
            }

            var ids = [];
            $.each($('#table').bootstrapTable('getSelections'), function(index, item){
                ids.push(item.id);
            });
            bootbox.confirm("确认删除？",
                function(result){
                    if(result) {
                        $.ajax({
                            type: "POST",
                            url: "/cash-balance/remove",
                            traditional: true,
                            data: {
                                ids: ids
                            },
                            success: function(data){
                                $('#table').bootstrapTable('refresh');
                            },
                            error:function(){
                                alert("操作失败，请刷新页面重新尝试！");
                            }
                        });
                    }
                })
        });
    });

    $('#table').bootstrapTable({
        height: 1000,
        // width: 800,
        url: '/cash-balance/query',
        pagination: true,
        sidePagination: "server",
        locale: 'zh-CN',
        showButtonText: true,
        stickyHeader: true,
        fixedColumns: true,
        // showFooter: true,
        // search: true,
        // showButtonText: true,
        // searchOnEnterKey: true,
        // showSearchButton: true,
        // showSearchClearButton: true,
        // showColumnsSearch: true,
        showColumns: true,
        showRefresh: true,
        toolbar: "#datagrid",
        clickToSelect: true,
        sortable: true,
        smartDisplay: false,
        ajaxOptions:{
            traditional:true
        },
        pageNumber: 1,     //初始化加载第一页，默认第一页
        pageSize: 10,      //每页的记录行数（*）
        queryParams: function (params) {
            params.shopCode = $('#shopCode').val();
            //导出全部数据没有传limit给后台, 把limit设置为全部数据
            if (typeof(params.limit) == "undefined") {

                params.limit = this.totalRows;
            }
            return params;
        },
        onClickRow: function (row, $element) {
            //console.log(row.id);
        },
        onDblClickRow: function (row, $element) {
            $.ajax({
                type: "get",
                url: "/cash-balance/get",
                data: {id: row.id},
                success: function(result){
                    $('#id').val(result.id);
                    $('#khdm').val(result.khdm);
                    $('#khmc').val(result.khmc);
                    $('#date').val(result.date);
                    $('#type').val(result.type);
                    $('#balance').val(result.balance);
                    $('#deptCode').val(result.deptCode);
                    $('#czdzCode').val(result.czdzCode);
                    $('#czwdzCode').val(result.czwdzCode);
                    $('#shdzCode').val(result.shdzCode);
                    $('#shwdzCode').val(result.shwdzCode);
                    $('#myModal').modal('show');
                },
                error:function(xhr,state,errorThrown){
                    alert("操作失败，记录已经不存在请刷新重试！");
                }
            });

        },
        columns: [{
            field: '',
            checkbox: true, // 显示一个勾选框
            align: 'center', // 居中显示
        }, {
            field: 'id',
            title: 'ID',
            visible: false
        }, {
            field: 'khdm',
            title: '店铺代码',
            width: '100'
        }, {
            field: 'khmc',
            title: '店铺名称',
            width: '100'
        }, {
            field: 'balance',
            title: '结余',
            width: '100'
        }, {
            field: 'deptCode',
            title: '部门代码',
            width: '100'
        }, {
            field: 'czdzCode',
            title: '充值到账科目编码',
            width: '100'
        }, {
            field: 'czwdzCode',
            title: '充值未到账科目编码',
            width: '100'
        }, {
            field: 'shdzCode',
            title: '私户到账科目编码',
            width: '100'
        }, {
            field: 'shwdzCode',
            title: '私户未到账科目编码',
            width: '100'
        }]
    });



</script>
</html>