<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="/webjars/weui/1.1.2/dist/style/weui.min.css" />
</head>
<body>

    <div class="pull-right">
        <h3>
            <span th:text="${shopCode}">信息标签</span>
            <span id="balance"></span>
        </h3>
    </div>
    <table id="table" class="modal-body"></table>
    <div id="deposit" >
        <button type="button" class="btn btn-success" id="add">新增</button>
        <button type="button" class="btn btn-danger" id="remove">删除</button>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">参与人信息</h4>
                </div>
                <form class="form-horizontal" id="form" role="form" action="/daily-deposit/add" method="post">
                    <div class="modal-body">
                        <input type="hidden" id="id" name="id" >
                        <input type="hidden" id="shopCode" name="khdm" th:value="${shopCode}" >

                        <div class="form-group">
                            <label for="date" class="col-sm-2 control-label">营业日期</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="date" name="date" required>
                            </div>
                            <label for="amount" class="col-sm-2 control-label">营业额</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="amount" name="amount" required >
                            </div>
                        </div>
                       <div class="form-group">
                            <label for="pos" class="col-sm-2 control-label">POS机/刷卡/银联扫码</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="pos" name="pos" >
                            </div>
                            <label for="cgbCoupon" class="col-sm-2 control-label">广发兑换券</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="cgbCoupon" name="cgbCoupon" >
                            </div>
                        </div>

                       <div class="form-group">
                            <label for="ccbZs" class="col-sm-2 control-label">建行扫码</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="ccbZs" name="ccbZs" >
                            </div>
                            <label for="ccbBs" class="col-sm-2 control-label">建行离线</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="ccbBs" name="ccbBs" >
                            </div>
                        </div>

                       <div class="form-group">
                            <label for="alipay" class="col-sm-2 control-label">支付宝</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="alipay" name="alipay" >
                            </div>
                            <label for="wxpay" class="col-sm-2 control-label">微信</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="wxpay" name="wxpay" >
                            </div>
                        </div>

                       <div class="form-group">
                            <label for="sys" class="col-sm-2 control-label">扫一扫</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="sys" name="sys" >
                            </div>
                            <label for="mss" class="col-sm-2 control-label">码上收</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="mss" name="mss" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="bsPay" class="col-sm-2 control-label">百胜支付</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="bsPay" name="bsPay" >
                            </div>
                            <label for="cash" class="col-sm-2 control-label">现金</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="cash" name="cash" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="memberPoints" class="col-sm-2 control-label">会员积分/储值卡消费/礼券</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="memberPoints" name="memberPoints" >
                            </div>
                            <label for="extraCash" class="col-sm-2 control-label">多收款</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="extraCash" name="extraCash" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">存款银行</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="bank" id="bank" >
                                    <option value=""></option>
                                    <option th:each="bank : ${banks}"
                                            th:value="${bank.account}" th:text="${bank.name}">
                                    </option>
                                </select>
                            </div>
                            <label for="depositDate" class="col-sm-2 control-label">存款日期</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="depositDate" name="depositDate" >
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="depositAmount" class="col-sm-2 control-label">存款额</label>
                            <div class="col-sm-4">
                                <input type="number" min="-1000000.00" max="100000.00" step="0.01" class="form-control" id="depositAmount" name="deposit"  >
                            </div>
                        </div>

                        <div class="page__bd">
                            <div class="weui-gallery" id="gallery">
                                <span class="weui-gallery__img" id="galleryImg"></span>
                                <div class="weui-gallery__opr">
                                    <a href="javascript:" class="weui-gallery__del">
                                        <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="weui-cells weui-cells_form">
                                <div class="weui-cell">
                                    <div class="weui-cell__bd">
                                        <div class="weui-uploader">
                                            <div class="weui-uploader__hd">
                                                <p class="weui-uploader__title">图片上传</p>
                                                <div class="weui-uploader__info"></div>
                                            </div>
                                            <div class="weui-uploader__bd">
                                                <ul class="weui-uploader__files" id="uploaderFiles">

                                                </ul>
                                                <div class="weui-uploader__input-box">
                                                    <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="image" id="picture1" >
                        <input type="hidden" name="picture2" id="picture2" >

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" id="save" class="btn btn-primary">提交更改</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div><!-- 模态框（Modal）end -->

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script><script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
<script src="/webjars/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
</body>
<script th:inline="javascript">

    $(function () {
        calculateBalance();
    });

    function calculateBalance() {
        $.ajax({
            url: "/cash-balance/calculate?shopCode=" + $('#shopCode').val(),
            type: "GET",
            success: function(result){
                $('#balance').text("结余：" + result + "元");
            },
            error:function(xhr,state,errorThrown){
                alert("查询结余，请重新尝试！");
            }
        });
    }

    var fileArr=new Array();
    var pictureSize = 0;
    var tmpl = '<li class="weui-uploader__file" file-name="" style="background-image:url(#url#)"></li>',
        $gallery = $("#gallery"), $galleryImg = $("#galleryImg"),
        $uploaderInput = $("#uploaderInput"),
        $uploaderFiles = $("#uploaderFiles");

    $uploaderInput.on("change", function(e){
        var  files = e.target.files;
        var length = fileArr.length;
        for (var i = 0, len = files.length; i < len; ++i) {
            var file = files[i];
            // if(length + i + 1 > 2) {
            //     break;
            // }
            if (file.size > 5 * 1024 * 1024) {
                alert("图片超过5M，不允许上传");
                continue;
            }
            var formData = new FormData();
            formData.append("file", file);
            $.ajax({
                url: "/daily-deposit/upload?shopCode=" + $('#shopCode').val(),
                type: "POST",
                async: false,
                cache: false,
                processData: false,// 告诉jQuery不要去处理发送的数据
                contentType: false,// 告诉jQuery不要去设置Content-Type请求头
                data: formData,
                success: function(result){
                    pictureSize = pictureSize + 1;
                    $uploaderFiles.append($(tmpl.replace('#url#', "/daily-deposit/showImage?fileName=" + result)).attr('file-name', result));
                    $('#picture1').val(result);
                    //checkPhotoSize();
                },
                error:function(xhr,state,errorThrown){
                    alert("图片上传失败，请重新尝试！");
                }
            });

            fileArr.push(file);

        }
        checkPhotoSize();
    });

    //控制显示三张以内照片
    function checkPhotoSize(){
        if(pictureSize > 0){
            $(".weui-uploader__input-box").hide();
        }else{
            $(".weui-uploader__input-box").show();
        }
    };

    var index; //第几张图片
    $uploaderFiles.on("click", "li", function(){
        index = $(this).index();
        $galleryImg.attr("style", this.getAttribute("style"));
        $gallery.fadeIn(100);
    });
    $gallery.on("click", function(){
        $gallery.fadeOut(100);
    });

    //删除图片
    $(".weui-gallery__del").click(function() {
        $('#picture1').val('');
        $uploaderFiles.find("li").eq(index).remove();
        pictureSize = pictureSize - 1;
        checkPhotoSize();
    });

    $('#table').bootstrapTable({
        url: '/daily-deposit/list?shopCode=' + $('#shopCode').val(),
        pagination: true,
        sidePagination: "server",
        locale: 'zh-CN',
        // search: true,
        // showButtonText: true,
        // searchOnEnterKey: true,
        // showSearchButton: true,
        // showSearchClearButton: true,
        // showRefresh: true,
        toolbar: "#deposit",
        clickToSelect: true,
        singleSelect: true,
        sortable: true,
        smartDisplay: false,
        pageNumber: 1,     //初始化加载第一页，默认第一页
        pageSize: 10,      //每页的记录行数（*）
        queryParams: function (params) {
            //导出全部数据没有传limit给后台, 把limit设置为全部数据
            if (typeof(params.limit) == "undefined") {
                params.limit = this.totalRows;
            }
            return params;
        },
        onClickRow: function (row, $element) {
            //console.log(row.id);
        },
        onDblClickRow: function (row, $element) {
            $.ajax({
                type: "GET",
                url: "/daily-deposit/get?id=" + row.id,
                async: false,
                success: function(data){

                    $gallery.fadeOut(100);//关闭图片预览
                    $('#form').clearForm();
                    $('#id').val(data.id);
                    $('#amount').val(data.amount);
                    $('#date').val(data.date);
                    $('#pos').val(data.pos);
                    $('#cgbCoupon').val(data.cgbCoupon);
                    $('#ccbZs').val(data.ccbZs);
                    $('#ccbBs').val(data.ccbBs);
                    $('#alipay').val(data.alipay);
                    $('#wxpay').val(data.wxpay);
                    $('#sys').val(data.sys);
                    $('#mss').val(data.mss);
                    $('#bsPay').val(data.bsPay);
                    $('#cash').val(data.cash);
                    $('#memberPoints').val(data.memberPoints);
                    $('#extraCash').val(data.extraCash);
                    $('#depositDate').val(data.depositDate);
                    $('#depositAmount').val(data.deposit);
                    $('#picture1').val(data.image);
                    if(data.bank != null && data.bank != '') {
                        $("#bank option:contains('" + data.bank + "')")[0].selected=true;
                    }
                    //根据自定义属性值选中
                    // $("input:radio[name=arrivedTravelMode][arrivedTravelMode=" + data.arrivedTravelMode + "]")[0].checked=true;

                    // $("input:radio[name=leavedTravelMode][leavedTravelMode=" + data.leavedTravelMode + "]")[0].checked=true;
                    // $("#leavedPickUpLocation option:contains('" + data.leavedPickUpLocation + "')")[0].selected=true;
                    // $("#leavedStation option:contains('" + data.leavedStation + "')")[0].selected=true;
                    $uploaderFiles.empty();
                    pictureSize = 0;
                    if (data.image != null && data.image != '') {
                        $uploaderFiles.append($(tmpl.replace('#url#', "/daily-deposit/showImage?fileName=" + data.image)).attr('file-name', data.image));
                        pictureSize = pictureSize + 1;
                    }

                    checkPhotoSize();

                }
            });
            $('#myModal').modal('show');
        },
        columns: [ {
            field: '',
            checkbox: true, // 显示一个勾选框
            align: 'center', // 居中显示

            // formatter: function (value, row, index) {
            //     return row.id;
            // }
        },{
            field: 'id',
            title: 'ID',
            visible: false
        }, {
            field: 'date',
            title: '营业日期'
        }, {
            field: 'amount',
            title: '营业额'
        }, {
            field: 'bankName',
            title: '存款银行'
        }, {
            field: 'depositDate',
            title: '存款日期'
        }, {
            field: 'deposit',
            title: '存款额'
        }]
    });

    $('#save').click(function() {
        if($('#form')[0].reportValidity()) {
            var amount = Number($('#amount').val()).toFixed(2);
            var sum = (Number($('#pos').val()) + Number($('#cgbCoupon').val()) + Number($('#ccbZs').val())
                        + Number($('#ccbBs').val()) + Number($('#alipay').val()) + Number($('#wxpay').val())
                        + Number($('#sys').val()) + Number($('#mss').val()) + Number($('#bsPay').val())
                        + Number($('#cash').val()) + Number($('#memberPoints').val())).toFixed(2) ;
            console.log(amount);
            console.log(sum);
            if (amount != sum) {
                alert("营业额与其它各项结算方式的总和不相等，请修改！");
                return false;
            }

            var bank = $('#bank').val();
            var depositDate = $('#depositDate').val();
            var deposit = $('#depositAmount').val();
            var picture1 = $('#picture1').val();
            var hasBank = bank != null && bank != '';
            console.log(bank != '');
            console.log(bank != null);

            console.log(deposit);
            console.log(depositDate);
            console.log(picture1);

            if (hasBank || depositDate .length > 0 || deposit .length > 0 || picture1 .length > 0) {
                if (!bank || depositDate .length == 0 || deposit .length == 0 || picture1 .length == 0) {
                    alert("存款银行、存款日期、存款额、存款单要么都填，要么都不填!");
                    return false;
                }
            }
/*
            var pictures = $uploaderFiles.find("li");
            if (pictures.length == 0) { //删除了所有图片需要清空值
                $('#picture1').val('');
                $('#picture2').val('');

            }
            if (pictures.length == 1) { //只有一张图片，清空第二张
                $('#picture2').val('');
            }
            pictures.each(function (i) {
                if (i == 0) {
                    $('#picture1').val($(this).attr('file-name'));
                }
                if (i == 1) {
                    $('#picture2').val($(this).attr('file-name'));
                }
            });*/
            $.ajax({
                type: "post",
                url: "/daily-deposit/save",
                data: $('#form').serialize(),
                success: function(data){
                    $('#myModal').modal('hide');
                    $('#table').bootstrapTable('refresh');
                    calculateBalance();
                },
                error: function(data){
                    alert("保存失败，请关闭网页重新尝试！");
                }
            });
        }
    });

    $('#add').click(function () {
        $gallery.fadeOut(100);//关闭图片预览
        /*if($('#id').val().length > 0) {//有id表示上一步查看了旧记录，需要清空数据
            $uploaderFiles.empty();//清空图片
            $('#picture1').val('');
            pictureSize = 0;
            $('#form').resetForm();//无法重置hidden项
        }*/

        $uploaderFiles.empty();//清空图片
        $('#picture1').val('');
        pictureSize = 0;
        checkPhotoSize();
        $('#form').resetForm();
        $('#id').val('');
        // $("input:radio[name=arrivedTravelMode]").get(0).checked=true;
        // $("#arrivedPickUpStation option").get(1).selected=true;
        // $("input:radio[name=leavedTravelMode]").get(0).checked=true;
        // $("#leavedStation option").get(1).selected=true;
        $('#myModal').modal('show');
    });

    $('#remove').click(function () {
        if($('#table').bootstrapTable('getSelections').length == 0) {
            return;
        }

        var id = $('#table').bootstrapTable('getSelections')[0].id;
        bootbox.confirm("确认删除？",
            function(result){
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/daily-deposit/remove",
                        traditional: true,
                        data: {
                            id: id
                        },
                        success: function(data){
                            calculateBalance();
                            $('#table').bootstrapTable('refresh');
                        },
                        error:function(xhr,state,errorThrown){
                            alert("删除失败，请关闭网页重新尝试！");
                        }
                    });
                }
            })
    });
</script>
</html>