<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<form class="form-horizontal" id="form" role="form" action="/import/baiShengPay" enctype="multipart/form-data" method="post">
 -->
<p></p>
<div>
    导入百胜支付和扫一扫账单
    <input type="file" name="bs-pay" id="bs-pay" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
        <!--<button type="submit">确认提交</button>-->
        <button onclick="upload('bs-pay')">确认提交</button>
</div>
<p></p>
<div>
    导入百胜刷卡账单&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="file" name="bssk" id="bssk" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
    <!--<button type="submit">确认提交</button>-->
    <button onclick="upload('bssk')">确认提交</button>
</div>
<p></p>
<div>
    导入浦发刷卡账单&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="file" name="spdb" id="spdb" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
    <!--<button type="submit">确认提交</button>-->
    <button onclick="upload('spdb')">确认提交</button>
</div>
<p></p>
<div>
    导入银联刷卡账单&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="file" name="union-pay" id="union-pay" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
    <!--<button type="submit">确认提交</button>-->
    <button  onclick="upload('union-pay')">确认提交</button>
</div>
<p></p>
<div>
    导入码上收账单&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="file" name="mss" id="mss" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
    <!--<button type="submit">确认提交</button>-->
    <button  onclick="upload('mss')">确认提交</button>
</div>
<p></p>
<div>
    导入建行账单&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="file" name="ccb" id="ccb" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
    <!--<button type="submit">确认提交</button>-->
    <button  onclick="upload('ccb')">确认提交</button>
</div>
<p></p>
<div>
    导入充值账单&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="file" name="top-up" id="top-up" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
    <!--<button type="submit">确认提交</button>-->
    <button  onclick="upload('top-up')">确认提交</button>
</div>

</body>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script th:inline="javascript">

    function upload(name) {

        var file = $('#' + name)[0].files[0];
        if (file != undefined) {
            if (file.size > 15 * 1024 * 1024) {
                alert("文件超过15M，不允许上传");
                return;
            }
            var formData = new FormData();
            formData.append(name, file);
            $.ajax({
                url: "/import/" + name,
                type: "POST",
                async: false,
                cache: false,
                processData: false,// 告诉jQuery不要去处理发送的数据
                contentType: false,// 告诉jQuery不要去设置Content-Type请求头
                data: formData,
                success: function(result){
                    if (result) {
                        alert("导入成功！");
                    } else {
                        alert("导入失败，请重新尝试！");
                    }

                    window.location = "/import/index";
                },
                error:function(xhr,state,errorThrown){
                    alert("导入出现错误，请重新尝试！");
                    window.location = "/import/index";
                }

            });
        } else {
            alert("您还未选择文件！");
        }
    }


</script>
</html>