<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="/webjars/weui/1.1.2/dist/style/weui.min.css" />
    <link rel="stylesheet" href="/webjars/bootstrap-select/1.13.17/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/webjars/viewerjs/dist/viewer.min.css" />
</head>
<body>
    <input type="hidden" id="jobNum" th:value="${jobNum}">
    <div class="col-md-12 pull-left" id="tb1">
        <form class="form-inline" id="resource-form">
            <div class="form-group form-inner">
                <label  class="form-lable">店铺代码：</label>
                <select class="form-control" name="shopCodes" id="shopCodes" multiple
                        data-live-search="true" data-actions-box="true"
                        data-selected-text-format="count">
                    <option value=""></option>
                    <option th:each="authority : ${authorities}"
                            th:value="${authority.khdm}" th:text="${authority.khmc}">
                    </option>
                </select>
            </div>

            <a class="btn btn-info  glyphicon glyphicon-search form-search" id="searchBtn" >搜索</a>
        </form>
    </div>

    <table id="table" class="modal-body">

    </table>
    <div id="deposit" >

    </div>

    <div class="page__bd">
        <div class="weui-gallery" id="gallery">
            <span class="weui-gallery__img" id="galleryImg" style="background-image:url(#url#)"></span>

        </div>
    </div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script><script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
<script src="/webjars/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="/webjars/bootstrap-select/1.13.17/js/bootstrap-select.min.js"></script>
<script src="/webjars/viewerjs/dist/viewer.min.js"></script>
</body>
<script th:inline="javascript">

    $(function () {
        $('#shopCodes').selectpicker();
        $("#gallery").on("click", function(){
            //console.log(2323);
            $("#gallery").fadeOut(100);
        });

        $('#searchBtn').click(function () {
            console.log($('#shopCodes').val());
            $('#table').bootstrapTable('refresh');
        });
    });

    $('#table').bootstrapTable({
        url: '/daily-deposit/query?jobNum=' + $('#jobNum').val(),
        pagination: true,
        sidePagination: "server",
        locale: 'zh-CN',
        // search: true,
        // showButtonText: true,
        // searchOnEnterKey: true,
        // showSearchButton: true,
        // showSearchClearButton: true,
        // showColumnsSearch: true,
        showColumns: true,
        showRefresh: true,
        toolbar: "#deposit",
        clickToSelect: true,
        singleSelect: true,
        sortable: true,
        smartDisplay: false,
        pageNumber: 1,     //初始化加载第一页，默认第一页
        pageSize: 10,      //每页的记录行数（*）
        queryParams: function (params) {
            params.shopCodes = $('#shopCodes').val();
            //导出全部数据没有传limit给后台, 把limit设置为全部数据
            if (typeof(params.limit) == "undefined") {
                params.limit = this.totalRows;
            }
            return params;
        },
        onClickRow: function (row, $element) {
            //console.log(row.id);
        },
        onDblClickRow: function (row, $element) {

        },
        columns: [ /*{
            field: 'id',
            title: 'ID',
            visible: false
        },*/ {
            field: 'khdm',
            title: '店铺代码'
        }, {
            field: 'date',
            title: '营业日期'
        }, {
            field: 'amount',
            title: '营业额'
        }, {
            field: 'balance',
            title: '结余'
        }, {
            field: 'pos',
            title: 'POS机/刷卡/银联扫码'
        }, {
            field: 'cgbCoupon',
            title: '广发兑换券'
        }, {
            field: 'ccbZs',
            title: '建行扫码'
        }, {
            field: 'ccbBs',
            title: '建行离线'
        }, {
            field: 'alipay',
            title: '支付宝'
        }, {
            field: 'wxpay',
            title: '微信'
        }, {
            field: 'sys',
            title: '扫一扫'
        }, {
            field: 'mss',
            title: '码上收'
        }, {
            field: 'bsPay',
            title: '百胜支付'
        }, {
            field: 'mallCollection',
            title: '商场代收款'
        }, {
            field: 'heSheng',
            title: '合胜收款'
        }, {
            field: 'cash',
            title: '现金'
        }, {
            field: 'memberPoints',
            title: '会员积分/储值卡消费/礼券'
        }, {
            field: 'bankName',
            title: '存款银行'
        }, {
            field: 'depositDate',
            title: '存款日期'
        }, {
            field: 'deposit',
            title: '存款额'
        }, {
            field: 'image',
            title: '票据',
            formatter: function (value, row, index) {
                //console.log(value);
                return "<a href='#' class='image' onclick=showImage2('" + value + "')>查看票据</a>";
            }
        }]
    });

    function showImage(fileName) {
        //console.log(fileName);
        var url = "/daily-deposit/showImage?fileName=" + fileName;
        $('#galleryImg').css("background-image","url(" + url + ")");
        $("#gallery").fadeIn(100);
    }

    function showImage2(fileName) {
        // console.log(23423);
        var image = new Image();
        image.src = "/daily-deposit/showImage?fileName=" + fileName;
        var viewer = new Viewer(image, {
            toolbar: {
                // zoomIn: true,
                // zoomOut: true,
                // oneToOne: true,
                reset: true,

                rotateLeft: true,
                rotateRight: true,
                flipHorizontal: true,
                flipVertical: true,
            },
            navbar: false,

            hidden: function () {
                viewer.destroy();
            },
        });
        // image.click();
        viewer.show();
    }

    /*$('.image').click(function () {
        console.log(222);
        var url = "/daily_deposit/showImage?fileName=" + $(this).attr('file-name');
        $('#galleryImg').css("background-image","url(" + url + ")");
        $gallery.fadeIn(100);
    });*/


</script>
</html>