<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="/webjars/weui/1.1.2/dist/style/weui.min.css" />
</head>
<body>

    <div class="pull-right">

    </div>
    <table id="table" class="modal-body"></table>
    <div id="deposit" >

    </div>

    <div class="page__bd">
        <div class="weui-gallery" id="gallery">
            <span class="weui-gallery__img" id="galleryImg" style="background-image:url(#url#)"></span>

        </div>
    </div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script><script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
<script src="/webjars/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
</body>
<script th:inline="javascript">

    $(function () {
        $("#gallery").on("click", function(){
            //console.log(2323);
            $("#gallery").fadeOut(100);
        });
    });



    $('#table').bootstrapTable({
        url: '/daily-deposit/query',
        pagination: true,
        sidePagination: "server",
        locale: 'zh-CN',
        search: true,
        showButtonText: true,
        searchOnEnterKey: true,
        showSearchButton: true,
        showSearchClearButton: true,
        showColumnsSearch: true,
        showColumns: true,
        showRefresh: true,
        toolbar: "#deposit",
        clickToSelect: true,
        singleSelect: true,
        sortable: true,
        smartDisplay: false,
        pageNumber: 1,     //初始化加载第一页，默认第一页
        pageSize: 10,      //每页的记录行数（*）
        customSearch:function customSearch(text) { //搜索--以第一列为导向 text为搜索框内输入的值
            console.log(3333);
            if(text == undefined){
                return false;
            }
            this.data = body;  //以防前一次的搜索对后边的搜索有影响
            var arr = [];  //用来暂存符合搜索条件的数据
            $.each(this.data, function (index,item){  //逐个比较
                if( item[0].indexOf(text) >= 0 ){
                    arr.push(item)
                }
            });
            this.data = arr;  //将获得数据给this.data
            $('#table').bootstrapTable('refresh'); //重新渲染表格
        },
        queryParams: function (params) {
            //导出全部数据没有传limit给后台, 把limit设置为全部数据
            if (typeof(params.limit) == "undefined") {
                params.limit = this.totalRows;
            }
            return params;
        },
        onClickRow: function (row, $element) {
            //console.log(row.id);
        },
        onDblClickRow: function (row, $element) {

        },
        columns: [ /*{
            field: 'id',
            title: 'ID',
            visible: false
        },*/ {
            field: 'date',
            title: '营业日期'
        }, {
            field: 'amount',
            title: '营业额'
        }, {
            field: 'bankName',
            title: '存款银行'
        }, {
            field: 'depositDate',
            title: '存款日期'
        }, {
            field: 'deposit',
            title: '存款额'
        }, {
            field: 'image',
            title: '票据',
            formatter: function (value, row, index) {
                //console.log(value);
                return "<a href='#' class='image' onclick=showImage('" + value + "')>查看票据</a>";
            }
        }]
    });

    function showImage(fileName) {
        //console.log(fileName);
        var url = "/daily-deposit/showImage?fileName=" + fileName;
        $('#galleryImg').css("background-image","url(" + url + ")");
        $("#gallery").fadeIn(100);
    }

    /*$('.image').click(function () {
        console.log(222);
        var url = "/daily_deposit/showImage?fileName=" + $(this).attr('file-name');
        $('#galleryImg').css("background-image","url(" + url + ")");
        $gallery.fadeIn(100);
    });*/


</script>
</html>