<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>浪漫春天直营门店业绩下降分析及方案跟进</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-select/1.13.17/css/bootstrap-select.min.css" />
</head>
<body>


    <table id="table" class="modal-body"></table>
    <form class="form-inline" id="form">
<!--        <input type="hidden" id="jobNum" th:value="${jobNum}">-->
        <div id="deposit">
            <div class="form-group">
                <label for="area" class="col-sm-2 control-label">销售区域</label>
                <div class="col-sm-4">
                    <select id="area" name="area" class="form-control">
                        <option></option>
                        <option th:each="area : ${areas}"th:value="${area.code}" th:text="${area.name}" >
                        </option>
                    </select>
                </div>
                <label for="shopCodes" class="col-sm-2 control-label">店铺</label>
                <div class="col-sm-4">
                    <select class="form-control" name="shopCodes" id="shopCodes" multiple
                            data-live-search="true" data-actions-box="true"
                            data-selected-text-format="count" >
                    </select>
                </div>
                <label for="feedbackState" class="col-sm-2 control-label">反馈状态</label>
                <div class="col-sm-4">
                    <select class="form-control" name="feedbackState" id="feedbackState">
                        <option value="0">全部</option>
                        <option value="1">待反馈</option>
                        <option value="2">已反馈</option>
                    </select>
                </div>
                <label for="performDate" class="col-sm-2 control-label">业绩日期</label>
                <div class="col-sm-4">
                    <input type="month" class="form-control" name="performDate" id="performDate" min="2022-06">
                </div>
                <button type="button" class="btn btn-success" id="search">查询</button>
                <button type="button" class="btn btn-info" id="exportBtn">导出</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-danger" id="remove">删除</button>
                <button type="button" class="btn btn-success" id="add">新增业绩下降分析</button>
            </div>


        </div>
    </form>


<script src="/webjars/jquery/3.1.1/jquery.min.js"></script><script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
<script src="/webjars/bootstrap-select/1.13.17/js/bootstrap-select.min.js"></script>
<script src="/webjars/bootstrap-select/1.13.17/js/i18n/defaults-zh_CN.min.js"></script>
</body>
<script th:inline="javascript">



    $(function () {
        $('#shopCodes').selectpicker();

        if ([[${isManager}]] || 'admin' == [[${jobNum}]]) {
            $('#add, #remove').hide();
        }

        $('#area').change(function () {
            $('#shopCodes').empty();
            $('#shopCodes').selectpicker('refresh');
            if ($(this).val().length == 0) {
                return;
            }
            $.ajax({
                type: "GET",
                url: "/sales-plan/listShops?area=" + $(this).val(),
                success: function(data){
                    for (const i in data) {
                        var option = new Option(data[i].name, data[i].code);
                        $('#shopCodes').append(option);

                        // $(this).append(new Option(data[i].name, data[i].code));
                    }
                    $('#shopCodes').selectpicker('refresh');
                }
            });
        });

        //这段代码需要在area change事件之后
        $('#area').change();//大区触发change事件让店铺自动加载数据
    });

    $('#search').click(function () {
        if($('#form')[0].reportValidity()) {
            $('#table').bootstrapTable('refresh');
        }
    });

    $('#exportBtn').click(function () {
        if($('#form')[0].reportValidity()) {
            bootbox.confirm("确认导出？",
                function (result) {
                    if (result) {
                        let area = $('#area').val();
                        let shopCodes = $('#shopCodes').val();
                        let feedbackState = $('#feedbackState').val();
                        let performDate = $('#performDate').val();
                        window.location.href = "/sales-plan/export?jobNum=" + [[${jobNum}]] + "&shopCodes=" + shopCodes
                        + '&area=' + area + '&feedbackState=' + feedbackState + '&performDate=' + performDate;
                    }
                });
        }
    });

    $('#table').bootstrapTable({
        url: '/sales-plan/list?jobNum=' + [[${jobNum}]],
        pagination: true,
        sidePagination: "server",
        locale: 'zh-CN',
        toolbar: "#deposit",
        clickToSelect: true,
        singleSelect: true,
        sortable: true,
        smartDisplay: false,
        ajaxOptions:{
            traditional:true
        },
        pageNumber: 1,     //初始化加载第一页，默认第一页
        pageSize: 10,      //每页的记录行数（*）
        queryParams: function (params) {
            params.area = $('#area').val();
            params.shopCodes = $('#shopCodes').val();
            params.feedbackState = $('#feedbackState').val();
            params.performDate = $('#performDate').val();
            //导出全部数据没有传limit给后台, 把limit设置为全部数据
            if (typeof(params.limit) == "undefined") {
                params.limit = this.totalRows;
            }
            return params;
        },
        onClickRow: function (row, $element) {
            //console.log(row.id);
        },
        onDblClickRow: function (row, $element) {
            window.location.href = '/sales-plan-details/index?jobNum=' + [[${jobNum}]]
                + '&id=' + row.id;
        },
        columns: [ {
            field: '',
            checkbox: true, // 显示一个勾选框
            align: 'center', // 居中显示

            // formatter: function (value, row, index) {
            //     return row.id;
            // }
        },{
            field: 'id',
            title: 'ID',
            visible: false
        }, {
            field: 'createDate',
            title: '制表日期'
        }, {
            field: 'name',
            title: '姓名'
        }, {
            field: 'shopName',
            title: '店铺'
        }, {
            field: 'performDate',
            title: '业绩日期'
        }, {
            field: 'monthDiff',
            title: '同期涨幅金额'
        }, {
            field: 'monthPercent',
            title: '同期涨幅'
        }, {
            field: 'state',
            title: '状态',
            formatter: function (value, row, index) {
                if (value == '0') {
                    return "未通知";
                } else if (value == 1) {
                    return "已通知";
                } else {
                    return "未知";
                }
            }
        }
        ]
    });


    $('#add').click(function () {
        window.location.href = '/sales-plan-details/index?jobNum=' + [[${jobNum}]];
    });

    $('#remove').click(function () {
        if($('#table').bootstrapTable('getSelections').length == 0) {
            return;
        }

        var id = $('#table').bootstrapTable('getSelections')[0].id;
        bootbox.confirm("确认删除？",
            function(result){
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/sales-plan/remove",
                        traditional: true,
                        data: {
                            id: id
                        },
                        success: function(result){
                            if (!result) {
                                alert("请先删除与此记录关联的原因分析及方案中跟进");
                            }
                            $('#table').bootstrapTable('refresh');
                        },
                        error:function(xhr,state,errorThrown){
                            bootbox.alert("删除失败，请关闭网页重新尝试！");
                        }
                    });
                }
            })
    });
</script>
</html>