<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>浪漫春天直营门店业绩下降分析及方案跟进</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-select/1.13.17/css/bootstrap-select.min.css" />
</head>
<body>

    <form class="form-horizontal" id="sales-form" role="form" action="/sales-plan-details/add" method="post">
        <div class="modal-body">
            <input type="hidden" id="id" name="id" th:value="${salesPlan?.id}">
            <input type="hidden" name="jobNum" th:value="${salesPlan !=null}? ${salesPlan.jobNum} : ${jobNum}" >
            <input type="hidden" id="state" name="state" th:value="${salesPlan !=null}? ${salesPlan.state} : 0" >
            <div class="form-group">
                <label  class="col-sm-1 control-label">制表人</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="name" name="name"
                           th:value="${salesPlan !=null}? ${salesPlan.name} : ${name}"  readonly required>
                </div>
                <label class="col-sm-1 control-label">制表日期</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="createDate"
                           th:value="${salesPlan !=null}? ${salesPlan.createDate} : ${createDate}" readonly required>
                </div>
            </div>

            <div class="form-group">
                <label for="area" class="col-sm-1 control-label">销售区域</label>
                <div class="col-sm-2">
                    <select id="area" name="area" class="form-control" required>
                        <option th:each="area : ${areas}"th:value="${area.code}" th:text="${area.name}"
                                th:selected="(${salesPlan !=null}? ${salesPlan.area} == *{area.code} : false)" >
                        </option>
                    </select>
                </div>
                <label for="shopCode" class="col-sm-1 control-label">店铺</label>
                <div class="col-sm-2">
                    <select class="form-control" name="shopCode" id="shopCode"
                           data-live-search="true" data-actions-box="true"
                            data-selected-text-format="count" required>
                    <!--<select id="shopCode" name="shopCode" class="form-control" required>-->
<!--                        <option th:each="shop : ${shops}"th:value="${shop.khdm}" th:text="${shop.khmc}"-->
<!--                                th:selected="(${salesPlan !=null}? ${salesPlan.shopCode} == *{shop.khdm} : false)" >-->
<!--                        </option>-->
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="performDate" class="col-sm-1 control-label">业绩分析时点</label>
                <div class="col-sm-2">
                    <input type="month" class="form-control" id="performDate" name="performDate"
                           th:value="${salesPlan !=null}? ${salesPlan.performDate} : ${month}" readonly required>
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">当月业绩</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="amounts" name="amounts"
                           th:value="${salesPlan?.amounts}" readonly required>
                </div>
                <label class="col-sm-1 control-label">同期业绩</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="lastYearMonthAmounts" name="lastYearMonthAmounts"
                           th:value="${salesPlan?.lastYearMonthAmounts}" readonly required>
                </div>

            </div>

            <div class="form-group">

                <label class="col-sm-1 control-label">同期涨幅金额</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="monthDiff" name="monthDiff"
                           th:value="${salesPlan?.monthDiff}" readonly required>
                </div>
                <label class="col-sm-1 control-label">同期涨幅</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="monthPercent" name="monthPercent"
                           th:value="${salesPlan?.monthPercent}" readonly required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">当年累计业绩</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="totalAmounts" name="totalAmounts"
                           th:value="${salesPlan?.totalAmounts}"  readonly required>
                </div>
                <label  class="col-sm-1 control-label">同期累计金额</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="lastYearTotalAmounts" name="lastYearTotalAmounts"
                           th:value="${salesPlan?.lastYearTotalAmounts}"  readonly required>
                </div>

            </div>
            <div class="form-group">

                <label  class="col-sm-1 control-label">同期累计涨幅金额</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="yearDiff" name="yearDiff"
                           th:value="${salesPlan?.yearDiff}"  readonly required>
                </div>
                <label class="col-sm-1 control-label">同期累计涨幅</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="yearPercent" name="yearPercent"
                           th:value="${salesPlan?.yearPercent}" readonly required>
                </div>
            </div>

            <button type="button" id="back" class="btn btn-default" >返回主页</button>
            <button type="button" id="save" class="btn btn-primary">保存业绩</button>
        </div>

    </form>

    <table id="table" class="modal-body"></table>
    <div id="deposit" >

        <div class="col-sm-12">
            <button type="button" class="btn btn-danger" id="remove">删除</button>
            <button type="button" id="saveDetailsAndNotify" class="btn btn-primary">确认并通知大区经理反馈</button>
            <button type="button" class="btn btn-success" id="add">新增原因方案</button>
        </div>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">原因分析及方案跟进</h3>
                </div>
                <form class="form-horizontal" id="form" role="form" action="/sales-plan-details/add" method="post">
                    <div class="modal-body">
                        <input type="hidden" id="detailsId" name="id" >
                        <input type="hidden" id="planId" name="planId" th:value="${salesPlan?.id}">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">原因</label>
                            <div class="col-sm-8">
                                <select name="reasonType" id="reasonType" class="form-control" required>
                                    <option value="" selected="selected">原因类型</option>
                                </select>
                                <select name="primaryReason" id="primaryReason" class="form-control" required>
                                    <option value="" selected="selected">请先选择原因类型</option>
                                </select>
                                <select name="reason" id="reason" class="form-control" required>
                                    <option value="" selected="selected">请先选择主要原因</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-8 control-label" style="color: red">如果原因选择了其他，则“其他原因描述”必填</label>
                        </div>
                        <div class="form-group">
                            <label for="other" class="col-sm-2 control-label">其他原因描述</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" maxlength="30" id="other" name="other">
                            </div>
                        </div>

<!--
                        <div class="form-group">
                            <label class="col-sm-2 control-label">方案类型</label>
                            <label class="radio-inline">
                                <input type="radio" name="proposalType" value="常规" required> 常规
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="proposalType" value="创新" required> 创新
                            </label>
                        </div>
-->
                        <div class="form-group">
                            <label for="proposalType" class="col-sm-2 control-label">方案类型</label>
                            <div class="col-sm-8">
                                <select name="proposalType" id="proposalType" class="form-control" required>
                                    <option value="常规" >常规</option>
                                    <option value="创新" >创新</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="proposal" class="col-sm-2 control-label">方案</label>
                            <div class="col-sm-8">
                                <textarea rows="5" cols="50" id="proposal" name="proposal" required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="feedback" class="col-sm-2 control-label">大区经理反馈</label>
                            <div class="col-sm-8">
                                <textarea rows="5" cols="50" id="feedback" name="feedback" readonly></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmation" class="col-sm-2 control-label">方案确定</label>
                            <div class="col-sm-8">
                                <textarea rows="3" cols="50" id="confirmation" name="confirmation" readonly></textarea>
                            </div>
                        </div>
<!--
                        <div class="form-group">
                            <label class="col-sm-8 control-label" style="color: red">开始日期和结束日期可以二选一</label>
                        </div>-->

                        <div class="form-group">
                            <label for="beginDate" class="col-sm-2 control-label">开始日期</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" id="beginDate" name="beginDate" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="endDate" class="col-sm-2 control-label">结束日期</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" id="endDate" name="endDate" readonly>
                            </div>
                        </div>
<!--
                        <div class="form-group">
                            <label class="col-sm-8 control-label" style="color: red">如果已经填写了日期，频率一般不需再填写</label>
                        </div>-->
                        <div class="form-group">
                            <label for="frequency" class="col-sm-2 control-label">频率</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" maxlength="20" id="frequency" name="frequency" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="executor" class="col-sm-2 control-label">执行人</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" maxlength="10" id="executor" name="executor" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="result" class="col-sm-2 control-label">结果</label>
                            <div class="col-sm-8">
                                <textarea rows="3" cols="50" id="result" name="result" readonly></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">关闭</button>
                        <button type="button" id="saveDetails" class="btn btn-info">提交保存</button>
                        <button type="button" id="saveFeedback" class="btn btn-success" style="display: none;">提交反馈</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div><!-- 模态框（Modal）end -->

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
<script src="/webjars/bootstrap-select/1.13.17/js/bootstrap-select.min.js"></script>
<script src="/webjars/bootstrap-select/1.13.17/js/i18n/defaults-zh_CN.min.js"></script>
</body>
<script th:inline="javascript">

    function getMaxMonth(date) {
        var mm = date.getMonth() + 1; //January is 0!
        var yyyy = date.getFullYear();

        if(mm<10){
            mm='0'+mm;
        }
        return yyyy+'-' + mm;
    }

    function getMaxDate(date) {
        var dd = date.getDate();
        //月份是从0开始，所以先加1，再加1加到下个月
        var mm = date.getMonth() + 2;
        var yyyy = date.getFullYear();
        if(dd<10){
            dd='0'+dd;
        }
        if(mm<10){
            mm='0'+mm;
        }
        return yyyy+'-' + mm+'-' + dd;
    }

    function subContent(content) {
        if (content.length > 10) {
            return content.substr(0, 10) + '......';
        } else {
            return content.substr(0, 10);
        }
    }

    var subjectObject = {
        "内部原因": {
            "人员问题": ["员工状态低迷与积极性差", "老员工销售技能差",
                "新员工经验技能不足", "招聘困难，长期缺编", "人员请长假，人手不足"],
            "货品问题": ["结构缺陷", "质量问题"],
            "客流下降": ["位置不佳", "形象老旧"],
            "活动策略差异": ["活动策略差异"],
            "其他": ["其他"]
        },
        "外部原因": {
            "本店特殊情况": ["店铺翻新/装修，工期延误", "修路", "其他"],
            "业态环境": ["人口流失", "商圈转移", "老城改造"],
            "天气问题": ["天气问题"],
            "疫情影响": ["疫情影响"],
            "其他": ["其他"]
        }
    }

    function feedbackChangeSetting(hasFeedback) {
        $('#reasonType').prop('disabled', hasFeedback);
        $('#primaryReason').prop('disabled', hasFeedback);
        $('#reason').prop('disabled', hasFeedback);
        $('#other').prop('disabled', hasFeedback);
        $('#proposalType').prop('disabled', hasFeedback);
        // $(':radio:not(:checked)').attr('disabled', hasFeedback);
        $("#proposal").prop("readonly", hasFeedback);

        $("#confirmation").prop("readonly", !hasFeedback);
        $("#beginDate").prop("readonly", !hasFeedback);
        $("#endDate").prop("readonly", !hasFeedback);
        $("#frequency").prop("readonly", !hasFeedback);
        $("#executor").prop("readonly", !hasFeedback);
        $("#result").prop("readonly", !hasFeedback);
    }

    $(function () {
        // let showAll = true;
        $('#performDate').attr("min", "2022-06");
        $('#performDate').attr("max", getMaxMonth(new Date()));
        $('#beginDate, #endDate').attr("min", "2022-06-01");
        $('#beginDate, #endDate').attr("max", getMaxDate(new Date()));

        $('#shopCode').selectpicker();
        let plan = [[${salesPlan}]];
        //没有业绩属于新建页面，隐藏添加，删除 原因按钮
        if (plan != null && plan.jobNum != [[${jobNum}]]) {
            $('#save, #add, #remove, #saveDetails, #saveDetailsAndNotify').hide();
            // showAll = false;//非本人不显示全部原因，即只显示提交并通知的原因，不显示暂存的原因
        }

        if (plan != null && plan.state == 1) {//已经提交通知不允许再修改
            $('#area').prop('disabled', true);
            $('#shopCode').prop('disabled', true);
            $('#performDate').prop('disabled', true);
            $('#save').prop('disabled', true);
        }

        if ([[${enableFeedback}]]) {//开启意见反馈编辑
            $("#feedback").prop("readonly", false);
            $('#saveFeedback').show();
        }


        $('#table').bootstrapTable({
            url: '/sales-plan-details/list?planId=' + [[${planId}]],
            pagination: true,
            sidePagination: "server",
            locale: 'zh-CN',
            toolbar: "#deposit",
            clickToSelect: true,
            singleSelect: true,
            sortable: true,
            smartDisplay: false,
            pageNumber: 1,     //初始化加载第一页，默认第一页
            pageSize: 10,      //每页的记录行数（*）
            queryParams: function (params) {

                return params;
            },
            onClickRow: function (row, $element) {
                //console.log(row.id);
            },
            onDblClickRow: function (row, $element) {

                $.ajax({
                    type: "GET",
                    url: "/sales-plan-details/get?id=" + row.id,
                    async: false,
                    success: function(data){

                        //有反馈可以操作
                        if (data.feedback.length > 0) {
                            feedbackChangeSetting(true);
                        } else {
                            feedbackChangeSetting(false);
                        }

                        if (data.confirmation.length > 0) {//已确定方案不允许修改反馈内容
                            $('#feedback').prop('disabled', true);
                            $('#saveFeedback').prop('disabled', true);
                        } else {
                            $('#feedback').prop('disabled', false);
                            $('#saveFeedback').prop('disabled', false);
                        }

                        $('#form').clearForm();
                        $('#detailsId').val(data.id);
                        $('#planId').val(data.planId);
                        $('#reasonType').val(data.reasonType);
                        $('#reasonType').change();//触发change事件
                        $('#primaryReason').val(data.primaryReason);
                        $('#primaryReason').change();//触发change事件
                        $('#reason').val(data.reason);
                        $('#other').val(data.other);
                        $('#proposal').val(data.proposal);
                        $('#proposalType').val(data.proposalType);
                        // $("input:radio[name=proposalType][value=" + data.proposalType + "]")[0].checked=true;
                        $('#feedback').val(data.feedback);
                        $('#confirmation').val(data.confirmation);
                        $('#executor').val(data.executor);
                        $('#beginDate').val(data.beginDate);
                        $('#endDate').val(data.endDate);
                        $('#frequency').val(data.frequency);
                        $('#result').val(data.result);

                    }
                });
                $('#myModal').modal('show');
            },
            columns: [ {
                field: '',
                checkbox: true, // 显示一个勾选框
                align: 'center'
            },{
                field: 'id',
                title: 'ID',
                visible: false
            }, {
                field: 'reasonType',
                title: '原因类型'
            }, {
                field: 'primaryReason',
                title: '原因'
            }, {
                field: 'reason',
                title: '具体原因分析'
            }, {
                field: 'proposal',
                title: '方案',
                formatter: function (value, row, index) {
                    return subContent(value);
                }
            }, {
                field: 'feedback',
                title: '大区经理反馈',
                formatter: function (value, row, index) {
                    return subContent(value);
                }
            }, {
                field: 'executor',
                title: '执行人'
            }, {
                field: 'result',
                title: '结果',
                formatter: function (value, row, index) {
                    return subContent(value);
                }
            }]
        });

        $('#area').change(function () {
            $('#shopCode').empty();
            $.ajax({
                type: "GET",
                url: "/sales-plan/listShops?area=" + $(this).val(),
                success: function(data){
                    let emptyOption = new Option('', '');
                    $('#shopCode').append(emptyOption);
                    for (const i in data) {
                        // console.log(data[i]);
                        let option = new Option(data[i].name, data[i].code);
                        $('#shopCode').append(option);

                        // $(this).append(new Option(data[i].name, data[i].code));
                    }
                    $('#shopCode').selectpicker('refresh');
                    let salesPlan = [[${salesPlan}]];
                    if (salesPlan != null) {
                        $('#shopCode').selectpicker('val', salesPlan.shopCode);
                    }
                }
            });
        });

        //这段代码需要在area change事件之后
        $('#area').change();//大区触发change事件让店铺自动加载数据


        $('#shopCode').change(function () {
            var performDate = $('#performDate').val();
            var shopCode = $('#shopCode').val();
            if(performDate.length > 0 && shopCode.length > 0) {
                $.ajax({
                    type: "GET",
                    url: "/sales-plan/getPerformance?date=" + performDate + '&shopCode=' + shopCode,
                    async: false,
                    success: function(data){
                        $('#amounts').val(data.amounts);
                        $('#lastYearMonthAmounts').val(data.lastYearMonthAmounts);
                        $('#monthDiff').val(data.monthDiff);
                        $('#monthPercent').val(data.monthPercent);
                        $('#totalAmounts').val(data.totalAmounts);
                        $('#lastYearTotalAmounts').val(data.lastYearTotalAmounts);
                        $('#yearDiff').val(data.yearDiff);
                        $('#yearPercent').val(data.yearPercent);
                    }
                });
            }
        });

        var subjectSel = document.getElementById("reasonType");
        var topicSel = document.getElementById("primaryReason");
        var chapterSel = document.getElementById("reason");
        for (var x in subjectObject) {
            subjectSel.options[subjectSel.options.length] = new Option(x, x);
        }
        subjectSel.onchange = function() {
            //empty Chapters- and Topics- dropdowns
            chapterSel.length = 1;
            topicSel.length = 1;
            //display correct values
            for (var y in subjectObject[this.value]) {
                topicSel.options[topicSel.options.length] = new Option(y, y);
            }
        }
        topicSel.onchange = function() {
            //empty Chapters dropdown
            chapterSel.length = 1;
            //display correct values
            var z = subjectObject[subjectSel.value][this.value];
            for (var i = 0; i < z.length; i++) {
                chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
            }
        }
    });


    $('#back').click(function() {
        window.location.href = '/sales-plan/index?jobNum=' + [[${jobNum}]];
    });

    $('#save').click(function() {
        if($('#sales-form')[0].reportValidity()) {
            if ($('#amounts').val().length == 0) {
                bootbox.alert('没有业绩，请重新选择店铺或者日期');
                return;
            }
            $('#save').attr("disabled", true);//屏蔽提交按钮
            $.ajax({
                type: "post",
                url: "/sales-plan/save",
                data: $('#sales-form').serialize(),
                success: function(result){
                    $('#id').val(result);//保存成功返回id设置到子表
                    $('#planId').val(result);
                    $('#save').attr("disabled", false);//提交成功后激活提交按钮
                    bootbox.alert("保存成功!");
                },
                error: function(data){
                    $('#save').attr("disabled", false);
                    bootbox.alert("保存失败，请确认是否重复添加！");
                }
            });
        }
    });

    $('#saveDetailsAndNotify').click(function() {
        if($('#table').bootstrapTable('getData').length == 0) {
            bootbox.alert("没有记录，无需通知！");
            return;
        }

        bootbox.confirm("确认通知大区经理反馈？",
            function(result){
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/sales-plan-details/notify",
                        traditional: true,
                        data: {
                            planId: $('#id').val()
                        },
                        success: function(result){
                            if (result > 0) {
                                bootbox.alert("通知成功！");
                            } else {
                                bootbox.alert("通知失败！");
                            }
                        },
                        error:function(xhr,state,errorThrown){
                            bootbox.alert("通知失败，请关闭网页重新尝试！");
                        }
                    });
                }
            })
    });


    $('#saveDetails').click(function() {
        let confirmationLength = $('#confirmation').val().length;
        let beginDateLength = $('#beginDate').val().length;
        let endDateLength = $('#endDate').val().length;
        let executorLength = $('#executor').val().length;
        let frequencyLength = $('#frequency').val().length;
        //如时间或者频率一旦有信息，那么“方案确定”及”执行人“就必须得有信息才能保存
        if(confirmationLength > 0 || beginDateLength > 0
            || endDateLength > 0 || executorLength > 0 || frequencyLength > 0) {
            if (confirmationLength == 0 ) {
                bootbox.alert("请填写方案确定！");
                return;
            }

            if (beginDateLength == 0 && endDateLength == 0 && frequencyLength ==0 ) {
                bootbox.alert("日期和频率至少填写一个！");
                return;
            }

            if (executorLength == 0 ) {
                bootbox.alert("请填写执行人！");
                return;
            }
        }

        /*if($('#beginDate').val().length > 0 || $('#beginDate').val().length > 0
            || $('#frequency').val().length > 0) {
            if ($('#executor').val().length == 0 ) {
                bootbox.alert("请先填写执行人！");
                return;
            }
        }

        if($('#executor').val().length > 0) {
            if ($('#beginDate').val().length == 0 && $('#beginDate').val().length == 0
                && $('#frequency').val().length == 0) {
                bootbox.alert("请先填写日期或者频率！");
                return;
            }
        }
*/
        //提交的时候去掉disabled才能取到值
        $('#form').find(':disabled').removeAttr('disabled');

        if($('#form')[0].reportValidity()) {
            if ($('#reason').val() == '其他' && $('#other').val().trim().length < 1) {
                bootbox.alert("请填写其他原因描述！");
                return;
            }
            if ($('#reason').val() != '其他' && $('#other').val().trim().length > 0) {
                bootbox.alert("原因非其他，请不要填写其他原因描述！");
                return;
            }
            $(this).attr("disabled", true);//屏蔽提交按钮
            $.ajax({
                type: "post",
                url: "/sales-plan-details/save?wantToNotify=false",
                data: $('#form').serialize(),
                success: function(data){
                    $('#myModal').modal('hide');
                    $('#table').bootstrapTable('refresh', {
                        url: '/sales-plan-details/list?planId=' + $('#planId').val()
                    });
                    $('#saveDetails').attr("disabled", false);//提交成功后激活提交按钮
                },
                error: function(data){
                    $('#saveDetails').attr("disabled", false);
                    bootbox.alert("保存失败，请稍后再试！");
                }
            });
        }
    });


    $('#saveFeedback').click(function() {
        let feedback = $('#feedback').val();
        if (feedback.length == 0) {
            bootbox.alert("请填写反馈内容！");
            return;
        }
        $(this).prop("disabled", true);//屏蔽提交按钮
        $.ajax({
            type: "post",
            //url: "/sales-plan-details/saveFeedback?id=" + $('#detailsId').val() + "&feedback=" + $('#feedback').val(),
            url: "/sales-plan-details/saveFeedback",
            data: {
              'id': $('#detailsId').val(),
              'feedback': $('#feedback').val()
            },
            success: function(data){
                $('#myModal').modal('hide');
                $('#table').bootstrapTable('refresh');
                $('#saveFeedback').prop("disabled", false);//提交成功后激活提交按钮
            },
            error: function(data){
                $('#saveFeedback').prop("disabled", false);
                bootbox.alert("提交失败，请稍后再试！");
            }
        });
    });

    $('#add').click(function () {
        let id = $('#id').val();
        if (id.length == 0) {
            bootbox.alert('请先保存业绩');
            return;
        }
        $('#form').resetForm();
        $('#detailsId').val('');//弹出框方案id
        //新建部分字段不允许填写
        feedbackChangeSetting(false);
        $('#myModal').modal('show');
    });

    $('#remove').click(function () {
        if($('#table').bootstrapTable('getSelections').length == 0) {
            return;
        }

        let id = $('#table').bootstrapTable('getSelections')[0].id;
        let feedback = $('#table').bootstrapTable('getSelections')[0].feedback;
        if (feedback.length > 0) {
            bootbox.alert("已有反馈内容，不允许删除！");
            return;
        }

        bootbox.confirm("确认删除？",
            function(result){
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/sales-plan-details/remove",
                        traditional: true,
                        data: {
                            id: id
                        },
                        success: function(result){
                            if (!result) {
                                alert("请先删除方案，或者已经有了反馈不允许删除！");
                            }
                            $('#table').bootstrapTable('refresh');
                        },
                        error:function(xhr,state,errorThrown){
                            bootbox.alert("删除失败，请关闭网页重新尝试！");
                        }
                    });
                }
            })
    });
</script>
</html>