<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css">

</head>
<body>


    <table id="table" class="modal-body"></table>
    <div id="deposit" >
        <button type="button" class="btn btn-success" id="add">新增</button>
        <button type="button" class="btn btn-danger" id="remove">删除</button>
    </div>



<script src="/webjars/jquery/3.1.1/jquery.min.js"></script><script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
</body>
<script th:inline="javascript">



    $(function () {

    });


    $('#table').bootstrapTable({
        url: '/sales-plan/list?jobNum=' + [[${jobNum}]],
        pagination: true,
        sidePagination: "server",
        locale: 'zh-CN',
        toolbar: "#deposit",
        clickToSelect: true,
        singleSelect: true,
        sortable: true,
        smartDisplay: false,
        pageNumber: 1,     //初始化加载第一页，默认第一页
        pageSize: 10,      //每页的记录行数（*）
        queryParams: function (params) {
            //导出全部数据没有传limit给后台, 把limit设置为全部数据
            if (typeof(params.limit) == "undefined") {
                params.limit = this.totalRows;
            }
            return params;
        },
        onClickRow: function (row, $element) {
            //console.log(row.id);
        },
        onDblClickRow: function (row, $element) {
            window.location.href = '/sales-plan-details/index?jobNum=' + [[${jobNum}]]
                + '&id=' + row.id;
        },
        columns: [ {
            field: '',
            checkbox: true, // 显示一个勾选框
            align: 'center', // 居中显示

            // formatter: function (value, row, index) {
            //     return row.id;
            // }
        },{
            field: 'id',
            title: 'ID',
            visible: false
        }, {
            field: 'createDate',
            title: '制表日期'
        }, {
            field: 'name',
            title: '姓名'
        }, {
            field: 'shopCode',
            title: '店铺'
        }, {
            field: 'performDate',
            title: '业绩日期'
        }]
    });


    $('#add').click(function () {
        window.location.href = '/sales-plan-details/index?jobNum=' + [[${jobNum}]];
    });

    $('#remove').click(function () {
        if($('#table').bootstrapTable('getSelections').length == 0) {
            return;
        }

        var id = $('#table').bootstrapTable('getSelections')[0].id;
        bootbox.confirm("确认删除？",
            function(result){
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/sales-plan/remove",
                        traditional: true,
                        data: {
                            id: id
                        },
                        success: function(result){
                            if (!result) {
                                alert("请先删除与此记录关联的原因分析及方案中跟进");
                            }
                            $('#table').bootstrapTable('refresh');
                        },
                        error:function(xhr,state,errorThrown){
                            bootbox.alert("删除失败，请关闭网页重新尝试！");
                        }
                    });
                }
            })
    });
</script>
</html>