<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-select/1.13.17/css/bootstrap-select.min.css" />
</head>
<body>

    <form class="form-horizontal" id="sales-form" role="form" action="/sales-plan-details/add" method="post">
        <div class="modal-body">
            <input type="hidden" id="id" name="id" th:value="${salesPlan?.id}">
            <input type="hidden" name="jobNum" th:value="${salesPlan !=null}? ${salesPlan.jobNum} : ${jobNum}" >

            <div class="form-group">
                <label  class="col-sm-1 control-label">制表人</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="name" name="name"
                           th:value="${salesPlan !=null}? ${salesPlan.name} : ${name}"  readonly required>
                </div>
                <label class="col-sm-1 control-label">制表日期</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="createDate"
                           th:value="${salesPlan !=null}? ${salesPlan.createDate} : ${createDate}" readonly required>
                </div>
            </div>

            <div class="form-group">
                <label for="area" class="col-sm-1 control-label">销售区域</label>
                <div class="col-sm-2">
                    <select id="area" name="area" class="form-control" required>
                        <option th:each="area : ${areas}"th:value="${area.code}" th:text="${area.name}"
                                th:selected="(${salesPlan !=null}? ${salesPlan.area} == *{area.code} : false)" >
                        </option>
                    </select>
                </div>
                <label for="shopCode" class="col-sm-1 control-label">店铺</label>
                <div class="col-sm-2">
                    <select class="form-control" name="shopCode" id="shopCode"
                           data-live-search="true" data-actions-box="true"
                            data-selected-text-format="count" required>
                    <!--<select id="shopCode" name="shopCode" class="form-control" required>-->
<!--                        <option th:each="shop : ${shops}"th:value="${shop.khdm}" th:text="${shop.khmc}"-->
<!--                                th:selected="(${salesPlan !=null}? ${salesPlan.shopCode} == *{shop.khdm} : false)" >-->
<!--                        </option>-->
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="performDate" class="col-sm-1 control-label">业绩分析时点</label>
                <div class="col-sm-2">
                    <input type="month" class="form-control" id="performDate" name="performDate"
                           th:value="${salesPlan?.performDate}"  required>
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">当月业绩</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="amounts" name="amounts"
                           th:value="${salesPlan?.amounts}" readonly required>
                </div>
                <label class="col-sm-1 control-label">同期业绩</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="lastYearMonthAmounts" name="lastYearMonthAmounts"
                           th:value="${salesPlan?.lastYearMonthAmounts}" readonly required>
                </div>

            </div>

            <div class="form-group">

                <label class="col-sm-1 control-label">同期涨幅金额</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="monthDiff" name="monthDiff"
                           th:value="${salesPlan?.monthDiff}" readonly required>
                </div>
                <label class="col-sm-1 control-label">同期涨幅</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="monthPercent" name="monthPercent"
                           th:value="${salesPlan?.monthPercent}" readonly required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">当年累计业绩</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="totalAmounts" name="totalAmounts"
                           th:value="${salesPlan?.totalAmounts}"  readonly required>
                </div>
                <label  class="col-sm-1 control-label">同期累计金额</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="lastYearTotalAmounts" name="lastYearTotalAmounts"
                           th:value="${salesPlan?.lastYearTotalAmounts}"  readonly required>
                </div>

            </div>
            <div class="form-group">

                <label  class="col-sm-1 control-label">同期累计涨幅金额</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="yearDiff" name="yearDiff"
                           th:value="${salesPlan?.yearDiff}"  readonly required>
                </div>
                <label class="col-sm-1 control-label">同期累计涨幅</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="yearPercent" name="yearPercent"
                           th:value="${salesPlan?.yearPercent}" readonly required>
                </div>
            </div>

            <button type="button" id="back" class="btn btn-default" >返回主页</button>
            <button type="button" id="save" class="btn btn-primary">保存</button>
        </div>

    </form>

    <table id="table" class="modal-body"></table>
    <div id="deposit" >
        <button type="button" class="btn btn-success" id="add">新增</button>
        <button type="button" class="btn btn-danger" id="remove">删除</button>
    </div>



<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
<script src="/webjars/bootstrap-select/1.13.17/js/bootstrap-select.min.js"></script>
<script src="/webjars/bootstrap-select/1.13.17/js/i18n/defaults-zh_CN.min.js"></script>
</body>
<script th:inline="javascript">

    function getMaxMonth(date) {
        var mm = date.getMonth()+1; //January is 0!
        var yyyy = date.getFullYear();

        if(mm<10){
            mm='0'+mm;
        }
        return yyyy+'-' + mm;
    }


    $(function () {
        $('#performDate').attr("min", "2022-01");
        $('#performDate').attr("max", getMaxMonth(new Date()));
        $('#shopCode').selectpicker();
        let plan = [[${salesPlan}]];
        if (plan != null && plan.jobNum != [[${jobNum}]]) {
            $('#save, #add, #remove').hide();
        }

        $('#area').change(function () {
            $('#shopCode').empty();
            $.ajax({
                type: "GET",
                url: "/sales-plan/listShops?area=" + $(this).val(),
                success: function(data){
                    for (const i in data) {
                        // console.log(data[i]);
                        var option = new Option(data[i].name, data[i].code);
                        $('#shopCode').append(option);

                        // $(this).append(new Option(data[i].name, data[i].code));
                    }
                    $('#shopCode').selectpicker('refresh');
                    let salesPlan = [[${salesPlan}]];
                    if (salesPlan != null) {
                        $('#shopCode').selectpicker('val', salesPlan.shopCode);
                    }
                }
            });
        });

        //这段代码需要在area change事件之后
        $('#area').change();//大区触发change事件让店铺自动加载数据


        $('#performDate, #shopCode').change(function () {
            var performDate = $('#performDate').val();
            var shopCode = $('#shopCode').val();
            if(performDate.length > 0 && shopCode.length > 0) {
                $.ajax({
                    type: "GET",
                    url: "/sales-plan/getPerformance?date=" + performDate + '&shopCode=' + shopCode,
                    async: false,
                    success: function(data){
                        $('#amounts').val(data.amounts);
                        $('#lastYearMonthAmounts').val(data.lastYearMonthAmounts);
                        $('#monthDiff').val(data.monthDiff);
                        $('#monthPercent').val(data.monthPercent);
                        $('#totalAmounts').val(data.totalAmounts);
                        $('#lastYearTotalAmounts').val(data.lastYearTotalAmounts);
                        $('#yearDiff').val(data.yearDiff);
                        $('#yearPercent').val(data.yearPercent);
                    }
                });
            }
        });

    });


    $('#table').bootstrapTable({
        url: '/sales-plan-details/list?planId=' + [[${planId}]],
        pagination: true,
        sidePagination: "server",
        locale: 'zh-CN',
        toolbar: "#deposit",
        clickToSelect: true,
        singleSelect: true,
        sortable: true,
        smartDisplay: false,
        pageNumber: 1,     //初始化加载第一页，默认第一页
        pageSize: 10,      //每页的记录行数（*）
        queryParams: function (params) {

            return params;
        },
        onClickRow: function (row, $element) {
            //console.log(row.id);
        },
        onDblClickRow: function (row, $element) {
            window.location.href = '/details-proposal/index?id=' + row.id
                + '&planId=' + [[${planId}]] + '&jobNum=' + [[${jobNum}]];
            /*$.ajax({
                type: "GET",
                url: "/sales-plan-details/get?id=" + row.id,
                async: false,
                success: function(data){
                    $('#form').clearForm();
                    $('#id').val(data.id);
                    $('#planId').val(data.planId);
                    $('#reasonType').val(data.reasonType);
                    $('#reasonType').change();//触发change事件
                    $('#primaryReason').val(data.primaryReason);
                    $('#primaryReason').change();//触发change事件
                    $('#reason').val(data.reason);
                    $('#convention').val(data.convention);
                    $('#innovation').val(data.innovation);
                    $('#feedback').val(data.feedback);
                    $('#confirmation').val(data.confirmation);
                    $('#executor').val(data.executor);
                    $('#date').val(data.date);
                    $('#result').val(data.result);
                }
            });
            //$('#myModal').modal('show');*/
        },
        columns: [ {
            field: '',
            checkbox: true, // 显示一个勾选框
            align: 'center'
        },{
            field: 'id',
            title: 'ID',
            visible: false
        }, {
            field: 'reasonType',
            title: '原因类型'
        }, {
            field: 'primaryReason',
            title: '原因'
        }, {
            field: 'reason',
            title: '具体原因分析'
        }, {
            field: 'executor',
            title: '执行人'
        }]
    });

    $('#back').click(function() {
        window.location.href = '/sales-plan/index?jobNum=' + [[${jobNum}]];
    });

    $('#save').click(function() {
        if($('#sales-form')[0].reportValidity()) {
            if ($('#amounts').val().length == 0) {
                bootbox.alert('没有业绩，请重新选择店铺或者日期');
                return;
            }
            $('#save').attr("disabled", true);//屏蔽提交按钮
            $.ajax({
                type: "post",
                url: "/sales-plan/save",
                data: $('#sales-form').serialize(),
                success: function(result){
                    $('#id').val(result);//保存成功返回id设置到子表
                    $('#save').attr("disabled", false);//提交成功后激活提交按钮
                    bootbox.alert("保存成功!");
                },
                error: function(data){
                    $('#save').attr("disabled", false);
                    bootbox.alert("保存失败，请稍后再试！");
                }
            });
        }
    });

    $('#saveDetails').click(function() {
        if($('#form')[0].reportValidity()) {
            $('#saveDetails').attr("disabled", true);//屏蔽提交按钮
            $.ajax({
                type: "post",
                url: "/sales-plan-details/save",
                data: $('#form').serialize(),
                success: function(data){
                    $('#myModal').modal('hide');
                    $('#table').bootstrapTable('refresh');
                    $('#saveDetails').attr("disabled", false);//提交成功后激活提交按钮
                },
                error: function(data){
                    $('#saveDetails').attr("disabled", false);
                    bootbox.alert("保存失败，请稍后再试！");
                }
            });
        }
    });

    $('#add').click(function () {
        var id = $('#id').val();
        if (id.length == 0) {
            bootbox.alert('请先保存业绩');
            return;
        }
        window.location.href = '/details-proposal/index?planId=' + id + '&jobNum=' + [[${jobNum}]];
    });

    $('#remove').click(function () {
        if($('#table').bootstrapTable('getSelections').length == 0) {
            return;
        }

        var id = $('#table').bootstrapTable('getSelections')[0].id;
        bootbox.confirm("确认删除？",
            function(result){
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/sales-plan-details/remove",
                        traditional: true,
                        data: {
                            id: id
                        },
                        success: function(result){
                            if (!result) {
                                alert("请先删除方案，或者已经有了反馈不允许删除！");
                            }
                            $('#table').bootstrapTable('refresh');
                        },
                        error:function(xhr,state,errorThrown){
                            bootbox.alert("删除失败，请关闭网页重新尝试！");
                        }
                    });
                }
            })
    });
</script>
</html>